
<form [formGroup]="formdata">
  <div class="form-row">
   

    <div class="form-group col-md-6">
      <label for="inputPassword4">Write Code</label>
      <textarea
        type="text"
        class="form-control"
        placeholder=""
        formControlName="programCode"
      ></textarea>
    </div>
  </div>

  <div class="example-button-row" style="margin: 2px">
    <a (click)="onSubmit()" type="button" class="btn btn-secondary">Submit</a>
    <a (click)="closepopup()" type="button" class="btn btn-secondary">Close</a>
  </div>
</form>
