
<div style="text-align: center;">
    <div style="padding-left: 400px;"><button style="color: red;border-color: red;" class="close-button"   (click)="closepopup()">X</button>   </div>
    <h2>
      <u style="color:teal">Associate details</u>
    </h2>
 
  </div>
<form [formGroup]="editdata">
  <div class="form-row">
    <div class="form-group col-md-6" hidden>
      <label for="inputEmail4">id</label>
      <input type="text" formControlName="id" class="form-control" />
    </div>

    <div class="form-group col-md-6">
        <b style="color: red;">*</b> &nbsp;
      <label for="inputPassword4">VAM ID</label>
      <input
        type="text"
        class="form-control"
        placeholder="VAM ID"
        formControlName="vamid"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="resourceName"
        placeholder="Name"
        [readOnly]="true"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress2">Email</label>
      <input
        type="text"
        class="form-control"
        placeholder="email"
        [readOnly]="true"
        formControlName="email"
      />
    </div>

    <div class="form-group col-md-6">
        <b style="color: red;">*</b> &nbsp;
      <label for="inputState">TechTrack</label>
      <select
        class="custom-select mb-3"
        
        formControlName="techTrack"
      >
        <option value=""></option>
        <option *ngFor="let teckTrack of tecktracks" [ngValue]="teckTrack">
          {{ teckTrack }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress">Category</label>
    <input
      type="text"
      class="form-control"
      placeholder="Category"
      formControlName="category"
      [readOnly]="true"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress">Program Name</label>
    <input
      type="text"
      class="form-control"
      formControlName="program"
      placeholder="ProgramName"
      [readOnly]="true"
    />
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
        <b style="color: red;">*</b> &nbsp;
      <label for="inputCity">Start Date</label>
      <input
        id="date"
        name="date"
        class="form-control"
        type="date"
        placeholder="dd-mm-yyyy"
        formControlName="startDate"
             [min]="minDate"
      />
    </div>
    <!--  value="{{ this.editdata.startDate | date : 'yyyy-MM-dd' }}" -->

    <div class="form-group col-md-6">
        <b style="color: red;">*</b> &nbsp;
      <label for="inputState">End Date</label>
      <input
        class="form-control"
        type="date"
        placeholder="MM/DD/YYY"
        formControlName="endDate"
      />
    </div>
    <!-- value="{{ this.editdata.endDate | date : 'yyyy-MM-dd' }}" -->
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <b style="color: red;">*</b> &nbsp;
      <label for="inputState">SME</label>
      <input
        class="form-control"
        type="text"
        placeholder="Name"
        formControlName="sme"
      />
    </div>

    <!-- <div class="form-group col-md-6">
      <label for="inputAddress">Program Status</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="Status"
        value="{{ this.editdata.programStatus }}"
      />
    </div> -->
  </div>
  <div class="example-button-row" style="margin: 2px;padding-left: 100px">   &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;
    <a (click)="SaveData()" type="button" class="btn btn-secondary" style="font-size: 10px;color:white;width: 75px; background-color: #17a2b8;" >Save</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <button mat-raised-button color="primary">Save</button> | -->
    <!-- <a (click)="closepopup()" mat-raised-button color="accent">Close</a> -->
    <!-- <a (click)="closepopup()" type="button" class="btn btn-secondary" style="font-size: 10px;color:white;width: 75px;" >Close</a> -->
  </div>
</form>
